html, body {
    overflow: hidden;
}

body {
    box-sizing: border-box;
    display: block;
    width: 800px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    background-color: black;
    border: 3px solid grey;
}

canvas {
    box-sizing: border-box;
    display: block;
}
